.landing{
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.center {
    margin: 0;
    background: rgba(251, 255, 0, 0.8);;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainContent {
    background-color: rgba(255, 255, 255, 0.60);
}

a {
    color: darkblue;
}